{% extends 'base.html' %}

{% block content %}
{% include 'share/navbar.html' %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
<link rel="stylesheet" href="resources/css/plugin/datepicker/bootstrap-datepicker.css">

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script src="resources/js/plugin/datepicker/bootstrap-datepicker.js"></script>


<!--한국어  달력 쓰려면 추가 로드-->
<script src="resources/js/plugin/datepicker/bootstrap-datepicker.ko.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	
		<script>
			$(function() {
				$( ".Datepicker" ).datepicker( {
					dateFormat:"YYYY-MM-DD"
				});
			});
		</script>



<div class="container">

<form action ="{% url 'Gosi:create' %}" method = "POST">
    {% csrf_token %}
      
      <div class="form-group">
        <label for="exampleFormControlSelect1">식단 제출</label>
        <select class="form-control" id="exampleFormControlSelect1" name ="Gosiname">
          <option selected> 식당이름 선택하세요</option>
          <option>통통이</option>
          <option>레알짱</option>
          <option>3D고시</option>
          <option>골든볼9</option>
          <option>식객</option>
          <option>밥드림</option>
          <option>패스</option>
          <option>언덕</option>
          <option>애플</option>
          <option>노량진</option>

        </select>
      </div>
        
    <div class = "form-group"> 날짜 선택 해주세요 </div>
      
      <div class="col-md-4 mb-4"> <label for="validationCustom03"></label> 
          <input type="date" class="DatePicker" class="form-control" value="2020-01-01" name = "date">

      <div class="form-group">
        <label for="exampleFormControlTextarea11">아침 메뉴 입력해 주세요 </label>
        <textarea class="form-control" id="exampleFormControlTextarea11" rows="4" name="morning"></textarea>
      </div>
    
       <div class="form-group">
        <label for="exampleFormControlTextarea12">점심 메뉴 입력해 주세요 </label>
        <textarea class="form-control" id="exampleFormControlTextarea12" rows="4" name="lunch"></textarea>
      </div>
    
       <div class="form-group">
        <label for="exampleFormControlTextarea13">저녁 메뉴 입력해 주세요 </label>
        <textarea class="form-control" id="exampleFormControlTextarea13" rows="4" name="dinner"></textarea>
      </div>
    
    <input type="submit" value = "등록" class="btn btn-outline-primary" href="{% url 'Gosi:input' %}"  >
    
</form>
    
</div>
{% endblock %}