{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>혼밥</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>



    <style type="text/css">
        .background {
            background : lightyellow;
            background-repeat : no-repeat;
            background-size : cover;
            
        }
        
        .jumbotron {
            background-color: powderblue;
            background-size: cover;
            text-shadow: black 0.15em 0.15em 0.15em;
            box-shadow : black 0.3em 0.3em 0.3em;
            color: white;
            margin-top : 4.5%;
        }
    </style>
    
    
   <div class="background">
       
     
    
   <div class="container">
        <div class="jumbotron"> 
            <h1 class="text-center">고시식당 메뉴를 소개합니다.</h1>
            <p class="text-center">노량진에 있는 고시식당의 메뉴를 한 눈에 정리해 드립니다.</p>
            <p class="text-center"><a class="btn btn-secondary btn-lg" href="{% url 'Gosi:main' %}" role="button">메뉴 보러가기</a></p>
        
            </div>     
    </div>
    
     
    <div class="container">
        <div class="jumbotron">
            <h1 class="text-center">혼밥식당을 소개합니다.</h1>
            <p class="text-center">혼자 밥을 먹을 수 있는 식당의 특징들을 자세히 알려주는 사이트 입니다.</p>
            <p class="text-center"><a class="btn btn-secondary btn-lg" href="{% url 'Honbab:main' %}" role="button">식당 보러가기</a></p>
        </div>
    </div>
   
</div>       
       </body>
</html>
{% endblock %}